/*
font-family: 'Anton', 'Jura', 'Jockey One';
*/
@import url("https://fonts.googleapis.com/css?family=Anton|Jockey+One|Jura:300,400,500,600,700&subset=cyrillic,cyrillic-ext,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,800,800i|Righteous&subset=cyrillic,cyrillic-ext,latin-ext");
#start {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative; }
  #start #bgvid {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -100;
    transition: 1s opacity; }
  #start #title {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center; }
    #start #title h2 {
      font-family: "Jockey One", sans-serif;
      color: #db0000;
      font-size: 96pt;
      font-style: none;
      font-weight: 800; }

#aboutMe {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 360pt;
  position: relative;
  font-family: "Jura", sans-serif;
  color: #fff;
  font-size: 12pt;
  font-style: none;
  font-weight: none;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: -5px;
  background: #151F2A; }
  #aboutMe .wrapper {
    width: 70%; }
    #aboutMe .wrapper h3 {
      font-family: "Jura", sans-serif;
      color: #BF4449;
      font-size: 14pt;
      font-style: none;
      font-weight: 900; }
    #aboutMe .wrapper p {
      margin: 8pt 0; }
    #aboutMe .wrapper .mySkills {
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      margin: 16pt 32pt; }
      #aboutMe .wrapper .mySkills h4 {
        font-family: "Jura", sans-serif;
        color: #fff;
        font-size: 14pt;
        font-style: none;
        font-weight: none;
        background: #BF4449;
        padding: 5px; }
      #aboutMe .wrapper .mySkills ul {
        margin: 8pt 0 0 8pt; }
      #aboutMe .wrapper .mySkills img {
        width: auto;
        height: auto; }

#projects {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 400pt;
  position: relative;
  font-family: "Jura", sans-serif;
  color: #db0000;
  font-size: 12pt;
  font-style: none;
  font-weight: none;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: -5px;
  background: #fff; }
  #projects .header {
    top: 0px;
    left: 0px;
    width: 70%;
    height: auto;
    position: relative;
    margin: 0 15% 16pt 15%; }
    #projects .header h3 {
      font-family: "Jura", sans-serif;
      color: #BF4449;
      font-size: 14pt;
      font-style: none;
      font-weight: 900; }
    #projects .header p {
      margin: 8pt 0; }
  #projects .mainCont {
    top: 0px;
    left: 0px;
    width: 70%;
    height: 50%;
    position: relative;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around; }
    #projects .mainCont .pgram {
      top: 0px;
      left: 0px;
      width: 190pt;
      height: 240pt;
      position: relative;
      background: #8734f7;
      -webkit-transform: skew(-25deg);
      -moz-transform: skew(-25deg);
      -o-transform: skew(-25deg);
      transform: skew(-25deg); }

/*# sourceMappingURL=style.css.map */
